h2 {
  font-weight: 400;
}

.auto-complete {
  width: 200px;
  margin: 50px auto;
  position: relative;
}

.auto-complete .selected {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  line-height: 25px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.auto-complete .search-box {
  width: 70%;
  border: none;
  line-height: 19px;
  margin: 0;
  outline: none;
}

/* .auto-complete input {
  display: none;
} */

.auto-complete ul {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0;
  margin: 5px 0;
}

.auto-complete li {
  list-style: none;
  padding: 4px 0;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.auto-complete svg {
  vertical-align: middle;
  position: absolute;
  right: 10px;
  top: 10px;
}

svg path {
  stroke: #000;
  fill: transparent;
  stroke-width: 1px;
}
