h2{
  font-weight: 400;
}

.auto-complete {
  width: 200px;
  margin: 50px auto;
}

.auto-complete span {
  cursor: pointer;
  padding-right: 5px;
}

.auto-complete input {
  display: none;
}

.auto-complete ul {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0;
}

.auto-complete li {
  list-style: none;
  padding: 4px 0;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.auto-complete svg{
    margin-left: 5px;
    vertical-align: middle;
}

svg path {
  stroke: #000;
  fill: transparent;
  stroke-width: 1px;
}
